<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Add Students</title>
</head>
<body>
  {% extends 'base.html' %}
    {% block content %}
    {% if error %}
    <div class="alert alert-denger">
        {{error}}
    </div>
    {%endif%}
    <div class="container mt-5" style="max-width:500px;">

<h2 class="mb-4">Add Student</h2>

{% if error %}

<div class="alert alert-danger">

{{ error }}

</div>

{% endif %}

<form method="POST">

{% csrf_token %}

<div class="mb-3">
<label class="form-label">Name: </label>
<input type="text" name="name" class="form-control" required>
</div>
<div class="mb-3">
<label class="form-label">Roll No: </label>
<input type="text" name="roll_no" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Branch:</label><br>
 <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="branch" value="cse">
  <label class="form-check-label" for="cse">
    Computer Science and Engineering
  </label>
  </div>
 <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="branch" value="ece">
  <label class="form-check-label" for="ece">
    Electronics and Comminication Engineering
  </label>
  </div>
 <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="branch" value="aiml">
  <label class="form-check-label" for="aiml">
    AI & ML Engineering
  </label>
  </div>
  <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="branch" value="aids">
  <label class="form-check-label" for="aids">
    AI & Data Science Engineering
  </label>
  </div>
  <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="branch" value="csds">
  <label class="form-check-label" for="csds">
    Computer Science & Data Science Engineering
  </label>
  </div>
  <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="branch" value="mech">
  <label class="form-check-label" for="mech">
    Mechanical Engineering
  </label>
  </div>
  <div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="branch" value="civil">
  <label class="form-check-label" for="civil">
    Civil Engineering
  </label>
  </div>
</div>

<div class="mb-3">
<label class="form-label">Semester:</label>
<input type="number" name="semester" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Is Active:</label>
<div class="form-check">
    <input type="checkbox" name="active" id="active" default="True">
    <label for="active">Active student</label>
</div>
</div>

<button class="btn btn-success w-100">Add</button>

</form>

</div>
{% endblock %}

    
</body>
</html>